{
	"subsonic": {
		"host": "localhost",
		"port": "8180",
		"rest": {
			"base": "/subsonic/rest/",
			"user": "user",
			"pass": "pass",
			"version": "1.1.0",
			"clientName": "websonic"
		}
	},
	"player": {
		"host": "localhost",
		"port": "8888",
		"player": "/usr/local/bin/mplayer"
	}
}
