/* common */
h1 { color: #656565; }
div.contents {
    width: 800px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    color: #656565;
    text-align: left;
    padding: 3px 10px;
    border: solid 1px #E3E3E3;
    background-color: #F5F5F5;
}
td {
    color: #656565;
    text-align: left;
    padding: 3px 10px;
    border: solid 1px #E3E3E3;
}

/* artist index */
table.artist_index {
    width: 100%;
}
table.artist_index tr#index {
    background-color: #F5F5F5;
}
table.artist_index td#artist {
    width: 95%; 
    border-right: solid 0px;
}
table.artist_index td#top {
    width: 5%;
    border-left: 0px;
    text-align: right
}
table.index_link td {
    border: none;
}

/* search result */
table.search_result {
    width: 100%;
}
table.search_result col#artist,
table.search_result col#album {
    width: 30%;
}
table.search_result col#title {
    width: 40%;
}
