extends layout

block content
	script(src='/javascripts/album.js', type='text/javascript')
	button(id='playButton') Play
	button(id='pauseButton') Pause
	button(id='stopButton') Stop
	h1= title
	for album in albums
		div(class='album', id='#{album.id}')
