extends layout

append header
  .navi
    a(href='/') TOP

block content
  include alphabet_index
  ul
    for artist in artists
      if (artist.tag == 'index')
        li
          a(name='#{artist.name}')= artist.name
      if (artist.tag == 'artist')
        ul
          li
            a(href='/artist/#{artist.id}')= artist.name